<div
  class="my-2 p-2  d-flex flex-raw justify-content-between border border-success rounded"
>
  <div>
    <h5 [ngClass]="{'doneTodoRec': !todo.active}">{{ todo.title }}</h5>
    <p class="my-2">{{ todo.desc }}</p>
  </div>
  <div class="my-auto">
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck{{index}}" (click)="onCheckHandle(todo)" [checked]="!todo.active">
      <label class="form-check-label" for="exampleCheck{{index}}">Done</label>
    </div>
    <button type="button" class="btn btn-danger" (click)="onClickHandle(todo)">Delete</button>
  </div>
</div>
